{% load static %}
{% include 'components/header.html' %}
<link rel="stylesheet" href="{% static 'css/todo.css' %}">
<link rel="stylesheet" href="{% static 'css/show.css' %}">

    <ul>
        {% for i in todo_list %}
            <li>
                <h1>{{ i.task }}</h1>
                <p>{{ i.checked }}</p>
                <button><a href="/todo_list/{{ i.id }}/"></a>Подробнее</button>
                <button><a href="/todo_list/{{ i.id }}/delete/"></a>Удалить</button>
                <button><a href="/todo_list/{{ i.id }}/update/"></a>Изменить</button>
            </li>
        {% endfor %}
    </ul>
{% include 'components/footer.html' %}